<div class="container">
<!-- upper container -->
  <div class="upper-data">
    <img src="../assets/cold-face-svgrepo-com.svg" alt="cold-face" *ngIf="14 > 15">
    <img src="../assets/hot-face-svgrepo-com.svg" alt="hot-face" *ngIf="14 <= 15">
  </div>
<!-- weather -->
  <div class="weather-data">
    <div class="location">buttland</div>
    <div class="temperature">{{ 14.40 | number: '1.0-0'}}°F</div>
  </div>
<!-- lower container -->
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.svg" alt="low-temperature">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°F
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
